#ritebar{
    grid-area: sidebar;
    background-color:white;
    padding-right: 30px;
    }
    
    #content{
    grid-area: main;
    background-color: white;
    width: 60%;
    height: 100%;
    }
    
    .blogAvatar{
        width: 200px;
        height: 150px; 
        padding-bottom: 20px;
        padding-left: 300px;
        
    }
    
    #tail{
    grid-area: footer;
    background-color: brown;
    background-image: url("https://res.cloudinary.com/adebayo59/image/upload/v1581925024/web_graphics_olnaog.png");
    color: white;
    padding: 25px;
    font-size: 20px;
    }
    