p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

q{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: dodgerblue;
}

date{
    color: gray;
}

subs{
    color: gray;
}

footer{
    padding-top: 20px;
    text-align: center;
}